RewriteEngine On
RewriteRule ^$ /final/public/views/home.php [L]

RewriteRule ^books$ /final/public/views/books/index.php [L]
RewriteRule ^books/new$ /final/public/views/books/new.php [L]
RewriteRule ^books/create$ /final/public/views/books/create.php [L]
RewriteRule ^books/([0-9]+)$ /final/public/views/books/show.php?id=$1 [L]
RewriteRule ^books/([0-9]+)/check$ /final/public/views/books/check.php?id=$1 [L]
RewriteRule ^books/([0-9]+)/uncheck$ /final/public/views/books/uncheck.php?id=$1 [L]
